<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title size="large">Calculate Top Set</ion-title>
  </ion-header>
  <form [formGroup]="formTopSet" (submit)="calculateTopSet()">
    <ion-item>
      <ion-input
        labelPlacement="floating"
        type="number"
        formControlName="percentage"
      >
        <div slot="label">
          Enter Percentage
          <ion-text
            color="danger"
            *ngIf="formTopSet.controls['percentage'].errors?.['required']"
            >(Required)</ion-text
          >
          <ion-text
            color="danger"
            *ngIf="formTopSet.controls['percentage'].errors?.['max']"
            >(Cannot enter a number bigger than 100)</ion-text
          >

          <ion-text
            color="danger"
            *ngIf="formTopSet.controls['percentage'].errors?.['pattern']"
            >(Just numbers allowed)
          </ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="customWeightToggle">
      <ion-select formControlName="personalRecord" label-placement="floating">
        <div slot="label">
          Enter Personal Record
          <ion-text
            color="danger"
            *ngIf="formTopSet.controls['personalRecord'].errors?.['required']"
            >(Required)</ion-text
          >
        </div>
        <ion-select-option [value]="squatPR"
          >Squat-{{squatPR}}kg</ion-select-option
        >
        <ion-select-option [value]="benchPR"
          >Bench-{{benchPR}}kg</ion-select-option
        >
        <ion-select-option [value]="deadliftPR"
          >Deadlift-{{deadliftPR}}kg</ion-select-option
        >
      </ion-select>
      <ion-buttons slot="end">
        <ion-button style="color: white" (click)="toggleSelect()"
          >{{buttonContent}}</ion-button
        >
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="!customWeightToggle">
      <ion-input
        labelPlacement="floating"
        type="number"
        formControlName="personalRecord"
      >
        <div slot="label">
          Enter custom weight
          <ion-text
            color="danger"
            *ngIf="formTopSet.controls['personalRecord'].errors?.['required']"
            >(Required)</ion-text
          >
        </div>
      </ion-input>

      <ion-buttons slot="end">
        <ion-button style="color: white" (click)="toggleSelect()"
          >{{buttonContent}}</ion-button
        >
      </ion-buttons>
    </ion-item>

    <div class="button-container">
      <ion-button
        color="danger"
        expand="block"
        shape="round"
        fill="outline"
        type="reset"
        *ngIf="formTopSet.valid"
        (click)="topSetReset()"
        >Reset</ion-button
      >
      <ion-button
        fill="clear"
        type="submit"
        class="button-white"
        [disabled]="formTopSet.invalid"
        >Calculate</ion-button
      >
    </div>
  </form>

  <ion-text class="ion-text-center" color="white" *ngIf="topSetCalculated">
    <h4>Your Top Set: {{topSet + "kg"}}</h4>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-text class="ion-text-center">
    <p>
      <a href="https://github.com/MichaelGuidelli" style="color: white"
        >&#64;MichaelGuidelli</a
      >
    </p>
  </ion-text>
</ion-footer>
